PORT=3000
CLIENT_URL=https://firepilotwar.com
CORS_ORIGINS=
STRIPE_SECRET_KEY=
STRIPE_APP_NAME=FirePilot
STRIPE_WEBHOOK_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_PLAY_PACKAGE_NAME=com.cjgerren.firepilottunnelrun
GOOGLE_PLAY_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PLAY_SERVICE_ACCOUNT_PRIVATE_KEY=
